.toggle-background {
    width: 100px;
    height: 50px;
    background-color:rgb(21, 11, 58);
    margin: 50px 50px;
    cursor: pointer;
    border: 2px solid rgb(206, 12, 164); 
}

.toggle-right {
    width: 50px;
    height: 50px;
    background-color: rgb(212, 188, 51);
    margin-left: 50px;
    cursor: pointer;
}

.toggle-left {
    width: 50px;
    height: 50px;
    background-color: rgb(212, 188, 51);
    margin-left: 0px;
    cursor: pointer;
}
